body {
    margin: 0;
}
#gradient {
    background: radial-gradient(transparent 50%, black), linear-gradient(transparent, black);
    opacity: .2;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
#bgImg {
    z-index: -2;
    background-image: url('./bgImg.jpg');
    visibility: visible;
    border: none;
    height: 100%;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;

    background-position: center center;
    background-repeat: no-repeat no-repeat;
    background-size: cover;
}
#logo {
    -webkit-mask-image: url('./logo.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    background-color: rgba(238, 238, 238, 1);
    height: 92px;
    width: 272px;
    margin-bottom: 38px;
    z-index: 10;
}
.tile {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}
.tile-icon {
    align-items: center;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    height: 48px;
    justify-content: center;
    margin-top: 16px;
    width: 48px;
}
.tile-title {
    align-items: center;
    border-radius: 12px;
    color: rgba(248, 249, 250, 1);
    display: flex;
    height: 32px;
    line-height: 16px;
    margin-top: 6px;
    padding: 2px 8px;
    width: 88px;
}
.tile-title span {
    font-weight: 400;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
#content {
    align-items: center;
    display: flex;
    flex-direction: column;
}
#container {
    --column-count: 4;
    --row-count: 2;
    --content-width: calc(var(--column-count) * 112px + 1px);
    width: calc(var(--content-width) + 12px);
    display: flex;
    justify-content: center;
    height: calc(var(--row-count) * var(--tile-size));
}
.icon {
    width: 32px;
    height: 32px;
}
#header {
    display: flex;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    justify-content: space-between;
    padding: 8px;
}
.icon-mini {
    padding: 8px;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    -webkit-border-radius: 50%;
}
a:hover {
    background-color: rgba(255,255,255,0.12);
}
.MCcOAc {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    z-index: 1;
}
.T4LgNb {
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}
.kFwPee {
    position: relative;
    z-index: 1;
    height: 100%;
}
.qWuU9c {
    box-sizing: border-box;
    height: 100%;
    padding: 3px 6px 9px;
}
.EHzcec {
    background: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 8px;
    box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%), 0px 2px 6px 2px rgb(60 64 67 / 15%);
    height: 100%;
    overflow-x: hidden;
    padding-top: 0;
    position: relative;
    width: 100%;
}
.LVal7b {
    box-sizing: content-box;
    margin: 0;
    padding: 0 0 0 14px;
    width: 300px;
    padding-top: 10px;
}
.j1ei8c {
    display: inline-block;
    height: 84px;
    list-style-type: none;
    padding: 6px;
    position: relative;
    transition: transform .2s cubic-bezier(.333,0,0,1);
    vertical-align: top;
    width: 84px;
}
.Rq5Gcb {
    color: #202124;
    display: inline-block;
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 14px;
    letter-spacing: 0.09px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 76px;
}
.gb_Ve {
    color: rgba(255,255,255, 0.87 );
    fill: currentColor;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.bg-grey {
    background-color: rgb(229, 231, 232);
}
.shadow {
    text-shadow: 0 0 16px rgb(0 0 0 / 30%);
}