<html>
    <head>
        <title>42tr</title>
        <link rel="icon" href="static/img/star.png" type="image/x-icon">
        <style type="text/css">body { font-family: Hannotate SC; }</style>
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
    </head>
    <body>
        <div style="z-index: -2; background-image: url('static/img/wallhaven-l871yl.png'); visibility: visible; border: none; height: 100%; pointer-events: none; position: fixed; top: 0; width: 100%; background-position: center center; background-repeat: no-repeat no-repeat; background-size: cover;"></div>
        <div id="gradient"></div>
        <div id="content" style="height: 100vh;">
            <!-- header -->
            <div id="header" style="height: 64px; align-items: center;">
                <div>
                    <p style="font-size: 24px; color: white; margin-left: 30px;">42tr</p>
                </div>
                <div id="mini" style="margin-left: auto">
                    <a class="icon-mini" style="box-sizing: content-box;">
                        <img src="static/img/minibox.svg">
                    </a>
                </div>
                <div id="star" style="overflow: hidden; position: absolute; top: 0px; width: 328px; z-index: 991; height: 0; margin-top: 57px; transition: height 0.3s ease-in-out 0s, opacity 0.1s ease 0.02s; right: 0px; margin-right: 4px; opacity: 0; max-height: calc(-65px + 100vh);">
                    <div class="qWuU9c">
                        <ul style="box-sizing: content-box; margin: 0; padding: 0 0 0 14px; width: 300px; padding-top: 10px;">
                            <li class="j1ei8c">
                                <a class="tile" href="https://leetcode-cn.com/problemset/all/" target="_blank">
                                    <div class="tile-icon">
                                        <img class="icon" src="static/img/leetcode.svg">
                                    </div>
                                    <div class="tile-title">
                                        <span class="Rq5Gcb">LeetCode</span>
                                    </div>
                                </a>
                            </li>
                            <li class="j1ei8c">
                                <a class="tile" href="https://www.iconfont.cn/" target="_blank">
                                    <div class="tile-icon">
                                        <img class="icon" src="static/img/iconfont-al.svg">
                                    </div>
                                    <div class="tile-title">
                                        <span class="Rq5Gcb">阿里矢量图标库</span>
                                    </div>
                                </a>
                            </li>
                            <li class="j1ei8c">
                                <a class="tile" href="https://tool.lu/favicon/" target="_blank">
                                    <div class="tile-icon">
                                        <img class="icon" src="static/img/icon-convert.svg">
                                    </div>
                                    <div class="tile-title">
                                        <span class="Rq5Gcb">ico制作</span>
                                    </div>
                                </a>
                            </li>
                            <li class="j1ei8c">
                                <a class="tile" href="http://www.zuohaotu.com/svg/" target="_blank">
                                    <div class="tile-icon">
                                        <img class="icon" src="static/img/svg-make.svg">
                                    </div>
                                    <div class="tile-title">
                                        <span class="Rq5Gcb">svg编辑器</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- header -->

            <!-- body -->
            <div class="box" style="height: calc(100vh - 64px); width: 100vw; padding: 30px;">
                <!-- self info -->
                <div id="card" class="item" style="font-size: 35px; color: aliceblue; width: 280px; height: 380px; box-shadow: 0 8px 16px -4px rgba(0,0,0,0.314); background: #1b1c20; border: 1px solid #3d3d3f; border-radius: 12px; overflow: hidden; opacity: 1;">
                    <div style="min-height: 140px; background: linear-gradient(-25deg, #9096ee, rgba(144,150,238,0.867), #9096ee, rgba(144,150,238,0.867)); background-size: 400%; display: block; unicode-bidi: isolate;">
                        <div style="text-align: center; display: flex; flex-wrap: wrap; justify-content: center; flex-direction: row; align-items: center;">
                            <div style="margin-top: 20px; display: flex; height: 28px; width: 100%;">
                                <div style="text-align: center; width: fit-content; font-size: 14px; padding: 2px 8px; border-radius: 12px; cursor: pointer; user-select: none; margin: auto; min-width: 100px;">
                                设计开发一条龙</div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 114px; height: 114px; right: calc(50% - 57px); top: 75px; border-radius: 500px; position: absolute; transition: cubic-bezier(.69,.39,0,1.21) .3s; transform-origin: bottom; border: 7px solid /*#1b1c20*/#1b1c20;">
                        <div style="overflow: hidden; border-radius: 500px; width: 100px; height: 100px; background: #1b1c20;">
                            <img id="cardAvatar" src="static/img/42tr.jpg" style="object-fit: cover; width: 100%; height: 100%; cursor: pointer;">
                        </div>
                    </div>
                    <div style="display: flex; align-items: center; flex-direction: column;">
                        <div style="margin-top: 60px; text-align: center; font-weight: 700; color: aliceblue; font-size: 20px; line-height: 1; margin-bottom: 5px;">42tr</div>
                        <!-- <div style="font-size: 14px; color: #f7f7fa; text-align: center;">
                            <p>Ranking: {{.SiteRanking}}</p>
                            <p>Rating: {{.Rating}}</p>
                            <p>GlobalRanking: {{.GlobalRanking}}/{{.GlobalTotalParticipants}}</p>
                            <p>LocalRanking: {{.LocalRanking}}/{{.LocalTotalParticipants}}</p>
                        </div> -->
                        <!-- personality -->
                        <div style="position: absolute; bottom: 0; left: 0; height: 140px; width: 100%;">
                            <img src="static/img/intj-a.png" style="width: 140px; height: 140px;">
                            <div style="font-size: 20px; position: absolute; bottom: 0; right: 0; width: 140px; text-align: center; color: #9096ee;">建筑师 INTJ-A</div>
                        </div>
                    </div>
                </div>
                <!-- self info -->
            </div>
            <!-- body -->
        </div>

        <canvas id="universe"></canvas>
        <script src="static/js/universe.min.js"></script>

        <script>
            // let tileItems = [
            //     { title: '语雀', src: 'static/img/yuque.svg', href: 'https://www.yuque.com/kisia/mo9bhd' },
            //     { title: 'Github', src: 'static/img/github.svg', href: 'https://github.com/42tr' },
            //     { title: 'LeetCode', src: 'static/img/leetcode.svg', href: 'https://leetcode.cn/u/42tr/' }
            // ]
            // tileItems.forEach(item => document.getElementById('container').innerHTML += `<a class="tile" href="${item.href}" target="_blank"><div class="tile-icon bg-grey"><img class="icon" src="${item.src}"></div><div class="tile-title"><span class="shadow">${item.title}</span></div></a>`)

            var open = () => {
                star.style.opacity = "1"
                star.style.height = "448px"
            }
            var close = () => {
                star.style.opacity = "0"
                star.style.height = "0"
            }
            var mini = document.getElementById('mini')
            mini.onmouseover = open
            mini.onmouseout = close
            var star = document.getElementById('star')
            star.onmouseover = open
            star.onmouseout = close

            const card = document.getElementById('card')
            const info = document.getElementById('selfInfo')
            const avatar = document.getElementById('avatar')
            const cardAvatar = document.getElementById('cardAvatar')
            avatar.onclick = () => {
                card.style.opacity = 1
                info.style.opacity = 0
            }
            cardAvatar.onclick = () => {
                card.style.opacity = 0
                info.style.opacity = 1
            }
        </script>
    </body>
</html>
